@using X.PagedList.Mvc.Core
@using X.PagedList
@model IEnumerable<Carvajar_2._1.Models.Data.Ingeniero>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<h2>Lista de Ingenieros</h2>
<hr />



<div class="container">
    <p>
        <a asp-action="Create" class="btn btn-success">Ingresar Ingeniero</a>
    </p>
   
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Identificacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model=> model.Rol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sede)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.Rol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sede)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdIngeniero">Editar</a> |
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.IdIngeniero">Detalles</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdIngeniero">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new {page}), new X.PagedList.Web.Common.PagedListRenderOptions{
    LiElementClasses = new string[] {"page-item"},
    PageClasses = new string[] {"page-link"},
    })


</div>
